In [5]:
import pandas as pd
import numpy as np

df = pd.read_excel(r"F:\project dataset\AllForOne.xlsx")

In [6]:
df.head()

          From Date           To Date  PM2.5   PM10  Temp    RH
0  01-01-2019 00:00  01-01-2019 00:15   59.0  109.0  28.8  71.0
1  01-01-2019 00:15  01-01-2019 00:30   59.0  109.0  28.6  74.0
2  01-01-2019 00:30  01-01-2019 00:45   59.0  109.0  25.9  75.0
3  01-01-2019 00:45  01-01-2019 01:00   59.0  109.0  22.7  76.0
4  01-01-2019 01:00  01-01-2019 01:15   96.0  140.0  22.6  77.0

In [7]:
df.isnull().values.any()

True

In [9]:
df[df.isnull().any(axis=1)].shape

(16408, 6)

In [14]:
df[df['PM2.5'].isnull() | df['PM10'].isnull() | df['Temp'].isnull() | df['RH'].isnull()]

               From Date           To Date  PM2.5   PM10  Temp    RH
158     02-01-2019 15:30  02-01-2019 15:45    NaN    NaN   NaN   NaN
159     02-01-2019 15:45  02-01-2019 16:00    NaN    NaN   NaN   NaN
160     02-01-2019 16:00  02-01-2019 16:15    NaN    NaN   NaN   NaN
161     02-01-2019 16:15  02-01-2019 16:30    NaN    NaN   NaN   NaN
162     02-01-2019 16:30  02-01-2019 16:45    NaN    NaN   NaN   NaN
163     02-01-2019 16:45  02-01-2019 17:00    NaN    NaN   NaN   NaN
164     02-01-2019 17:00  02-01-2019 17:15    NaN    NaN  21.2  31.0
165     02-01-2019 17:15  02-01-2019 17:30    NaN    NaN  21.8  30.0
166     02-01-2019 17:30  02-01-2019 17:45    NaN    NaN  22.3  31.0
167     02-01-2019 17:45  02-01-2019 18:00    NaN   79.0  22.5  32.0
168     02-01-2019 18:00  02-01-2019 18:15    NaN   79.0  22.6  34.0
169     02-01-2019 18:15  02-01-2019 18:30    NaN   79.0  22.8  35.0
170     02-01-2019 18:30  02-01-2019 18:45    NaN   79.0  22.9  36.0
183     02-01-2019 21:45  02-01-2019 22:00    NaN    NaN   NaN   NaN
467     05-01-2019 20:45  05-01-2019 21:00   64.0    NaN   NaN   NaN
618     07-01-2019 10:30  07-01-2019 10:45    NaN    NaN  22.5  60.0
619     07-01-2019 10:45  07-01-2019 11:00    NaN    NaN  22.2  56.0
620     07-01-2019 11:00  07-01-2019 11:15    NaN    NaN  22.3  54.0
621     07-01-2019 11:15  07-01-2019 11:30    NaN    NaN  22.7  52.0
622     07-01-2019 11:30  07-01-2019 11:45    NaN    NaN  22.5  50.0
660     07-01-2019 21:00  07-01-2019 21:15    NaN    NaN   NaN   NaN
661     07-01-2019 21:15  07-01-2019 21:30    NaN    NaN   NaN   NaN
662     07-01-2019 21:30  07-01-2019 21:45    NaN    NaN   NaN   NaN
1330    14-01-2019 20:30  14-01-2019 20:45   84.0  213.0   NaN   NaN
1333    14-01-2019 21:15  14-01-2019 21:30    NaN    NaN  23.8  51.0
1336    14-01-2019 22:00  14-01-2019 22:15   88.0    NaN  23.7  57.0
1360    15-01-2019 04:00  15-01-2019 04:15   54.0    NaN  23.2  62.0
1380    15-01-2019 09:00  15-01-2019 09:15   64.0    NaN  23.2  34.0
1388    15-01-2019 11:00  15-01-2019 11:15   33.0    NaN  23.8  23.0
1392    15-01-2019 12:00  15-01-2019 12:15   20.0    NaN  23.0  19.0
...                  ...               ...    ...    ...   ...   ...
114092  31-01-2020 07:45  31-01-2020 08:00    NaN    NaN   NaN   NaN
114093  31-01-2020 08:00  31-01-2020 08:15    NaN    NaN   NaN   NaN
114094  31-01-2020 08:15  31-01-2020 08:30    NaN    NaN   NaN   NaN
114095  31-01-2020 08:30  31-01-2020 08:45    NaN    NaN   NaN   NaN
114096  31-01-2020 08:45  31-01-2020 09:00    NaN    NaN   NaN   NaN
114097  31-01-2020 09:00  31-01-2020 09:15    NaN    NaN   NaN   NaN
114098  31-01-2020 09:15  31-01-2020 09:30    NaN    NaN   NaN   NaN
114099  31-01-2020 09:30  31-01-2020 09:45    NaN    NaN   NaN   NaN
114100  31-01-2020 09:45  31-01-2020 10:00    NaN    NaN   NaN   NaN
114101  31-01-2020 10:00  31-01-2020 10:15  143.0   52.0   NaN   NaN
114105  31-01-2020 11:00  31-01-2020 11:15    NaN    NaN   NaN   NaN
114114  31-01-2020 13:15  31-01-2020 13:30    NaN    NaN   NaN   NaN
114119  31-01-2020 14:30  31-01-2020 14:45    NaN    NaN   NaN   NaN
114120  31-01-2020 14:45  31-01-2020 15:00    NaN    NaN   NaN   NaN
114123  31-01-2020 15:30  31-01-2020 15:45    NaN    NaN   NaN   NaN
114124  31-01-2020 15:45  31-01-2020 16:00    NaN    NaN   NaN   NaN
114126  31-01-2020 16:15  31-01-2020 16:30    NaN    NaN   NaN   NaN
114127  31-01-2020 16:30  31-01-2020 16:45    NaN    NaN   NaN   NaN
114129  31-01-2020 17:00  31-01-2020 17:15    NaN    NaN   NaN   NaN
114130  31-01-2020 17:15  31-01-2020 17:30    NaN    NaN   NaN   NaN
114131  31-01-2020 17:30  31-01-2020 17:45    NaN    NaN   NaN   NaN
114134  31-01-2020 18:15  31-01-2020 18:30    NaN    NaN   NaN   NaN
114138  31-01-2020 19:15  31-01-2020 19:30    NaN    NaN   NaN   NaN
114156  31-01-2020 23:45  01-02-2020 00:00    NaN    NaN   NaN   NaN
114160  01-02-2020 00:45  01-02-2020 01:00    NaN    NaN   NaN   NaN
114162  01-02-2020 01:15  01-02-2020 01:30    NaN    NaN   NaN   NaN
114179  01-02-2020 05:30  01-02-2020 05:45    NaN    NaN   NaN   NaN
114186  01-02-2020 07:15  01-02-2020 07:30    NaN    NaN   NaN   NaN
114195  01-02-2020 09:30  01-02-2020 09:45    NaN    NaN   NaN   NaN
114209  01-02-2020 13:00  01-02-2020 13:12    NaN    NaN   NaN   NaN

[16408 rows x 6 columns]

In [15]:
df = df.dropna(axis=0,subset=['PM2.5', 'PM10', 'Temp', 'RH' ])
df.shape

(97802, 6)

In [16]:
df.isnull().values.any()

False

In [18]:
df.head()

          From Date           To Date  PM2.5   PM10  Temp    RH
0  01-01-2019 00:00  01-01-2019 00:15   59.0  109.0  28.8  71.0
1  01-01-2019 00:15  01-01-2019 00:30   59.0  109.0  28.6  74.0
2  01-01-2019 00:30  01-01-2019 00:45   59.0  109.0  25.9  75.0
3  01-01-2019 00:45  01-01-2019 01:00   59.0  109.0  22.7  76.0
4  01-01-2019 01:00  01-01-2019 01:15   96.0  140.0  22.6  77.0

In [20]:
df.to_csv(r'F:\project dataset\CleanedDataset.csv')